html,
body {
  overflow-x: hidden;
  /* Prevent scroll on narrow devices */
  display: block;
}
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
  outline: 0;
}
#wrapper {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 1.55;
}
/*

=====================
      SIDEBAR
=====================

*/
#sidebar {
  z-index: 100;
  text-align: center;
  color:#777777;
  font-size: 110%;
}
.photo {
  padding: 80px 0px 0px 0px;
}
.photome {
   border-radius: 100px;
}
#sidebar h2 {
  font-size:20px;
}
#sidebar h4 {
  font-size: 14px;
  padding-top: 0px;
  line-height: 0.7em;
  font-style: italic;
}
.link{
  margin-top: 20px;
  margin-left: 10px;
}
.link-icon {
  color: #000000;
  margin-right: 10px;
  font-size: 120%;
}
.about__one {
  margin-top: 20px;
  font-weight: 900;
}
.about__two {
  font-weight: 900;
}
#sidebar p{
  font-size: 15px;
}
.skillset {
  padding-right: 39px;
  font-size: 80%;
}
.skill {
  display: inline-block;
  margin: 0 3px;
  padding: 0;
  list-style: none;
}
/*

=====================
      CONTENT
=====================

*/
.project {
  border-radius: 10px;
  z-index: 100;
  margin: 5px 0px 25px 45px;
  padding:0px;
  width: 230px;
  background-color: #ffffff;
  box-shadow: 1px 1px 10px #bdc3c7;
  transition: all .3s ease-out;
}
.project:hover {
  box-shadow: 2px 2px 30px #777;
}
.photo__project{
  transition: all .2s ease-out;
}
.grid {
  padding-top: 80px;
}
.info__icon {
  display: none;
  font-size: 350%;
}
.projectone {
  height: 370px;
}
.projecttwo {
  height: 300px;
}
.projectthree {
  height: 450px;
}
.projectthree .project__text{
  padding:25px 7px 0px 10px;
}

.project__text {
  height: 60%;
  padding:5px 7px 0px 10px;
}
.project__photo {
  height: 40%;
}
.photo__project {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.view {
  margin: -70px 30px 0px 30px;
}
.photo__project {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.project__text p {
  color: #999;
  font-size: 15px;
  margin-bottom: 0px;
}
.button-css {
  cursor: pointer;
  padding: 0 22px;
  font-size: 15px;
  width: 170px;
  height: 25px;
  margin-bottom: 5px;
  border: 0;
  color: #fff;
  border: 1px solid #777777;
  text-align: center;
  background: #7f8c8d;
  border-radius: 5px;
  letter-spacing: 0.1em;
}
.button-css:hover {
  box-shadow: 2px 2px 3px #777777;
  color: #7f8c8d;
  background: #ffffff;
}
.a__head:hover {
  text-decoration:none
}
a {
  text-decoration: none;
  cursor: pointer;
}
.a__head h4 {
  font-weight: 900;
  color:black;
  letter-spacing: .01em;
  font-size: 14px;
  text-transform: uppercase;
}
