/*body margin 0*/
body {
    margin: 0px;
    font-family: sans-serif;
}

/*---------------------header-------------------------*/
header ul {
    list-style-type: none;
    margin: 0px 0px 0px 0px;
    padding: 0;
    overflow: hidden;
    border: 1px solid #27333f;
    box-shadow: 0px 0px 15px #aaaaaa;
    background-color: #293541;
    z-index: 2;
}

header li {
    float: center;
}

header li.logo {
    float: left;
    
}

header li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-right:1px solid #27333f;
    border-radius:3px;
}

header li a:hover:not(.active) {
    background-color: #58738d;
}

header li a.active {
    color: white;
    background-color: #008CBA;
}

h1{
        text-align: center;
 }
 footer{
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #22A7F0;
  text-align: center;
  bottom:0;
  position: fixed;
  width: 100%;
 }
 footer i{
  margin-right: 30px;
 }
 footer a {
  color: white;
  font-size: 35px;
  -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
footer a:hover {
  color: #ffb6c1;
  font-size: 45px;
}

